
   #Log .mainBtns{
        width: 100%;
        max-width: 300px;
        height: 50px;
        box-shadow: 0px 5px 0px 0px #343a40;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 1px;
      }
      #Log{
        overflow-y: hidden !important;
      }
      #Log section {
        width: 100%;
        height: 100vh;
        background-image: url(https://www.scienceabc.com/wp-content/uploads/2016/07/Cement-concrete.jpg);
        background-size: cover;
        background-position: center;
      
      }
      
      #Log .layer {
        background: linear-gradient(135deg,#343a40 0%, #f8f9fa 10%, #f8f9fa 30%, #868e96 50%, #868e96 70%, #343a40 90%, #343a40 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7
      }
      
 
      .login-form {
        position: absolute;
        top:20vh;
        left: 12.5vw;
        padding-left: -50px;
        width:75vw;
        height:auto;
        box-sizing: border-box;
        padding: 6vh 3vw;
        transition: 0.5s;
        
      }
      
      #Log .login-form:hover {
        background-color: rgba(125, 125, 125, 0.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
      
      #Log .login-form h1 {
        margin: 0 0 20px;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
      }
      
      #Log .login-form input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 25px;
        outline: none;
        font-size: 14px;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
        font-family: 'Roboto Condensed', sans-serif;
      }
      
      #Log .login-form input::placeholder  {
        color: white;
      }
      
      #Log .login-form button {
        border: none;
        cursor: pointer;
        border-radius: 50px;
      }

      
      
      #statusBtn{
        position :fixed;
        top :0;
        z-index:800;
      }
     
    







