// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
   #mainButton{
        width: 40vw;
        margin-top:auto; 
        margin-bottom:auto;
   }
   #navbarNavDropdown ul li{
        text-align: center;
   }

   #display{
            margin-left : 0;
        }
}
@media (min-width: 577px) and (max-width: 992px){
    #mainButton{
         width: 25vw;
         margin-top:auto; 
         margin-bottom:auto; 
    }
    #navbarNavDropdown ul li{
        text-align: center;
   }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 993px) { 
    #navbarNavDropdown ul li a {
        background:rgb(249,249,249) !important;
        color:rgb(166, 31, 52) !important;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }



#navbarNavDropdown ul{
    
    margin:10px;
}
#navbarNavDropdown ul li{
    
    margin:5px;
}
.ListElem{
    max-width: 90vw;
}
.Elem{
  
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    padding-top: 10px;
    padding-bottom: auto;
    padding-left:20px;
    height: 100%;
}

.ElemAdd{
    padding-top: 10px;
    padding-bottom: auto;
    padding-left:20px;
    height: 100%;
}
#newReport{
    overflow: hidden !important;
    width: 100vw;
    position:absolute;
    top:5vh;
    left:0vw;
}
#EmployeeReport{
    overflow: hidden !important;
    width: 100vw;
    position:absolute;
    top:5vh;
    left:0vw;
}
.col-50{
    width: 100%;
}


.tableRelative{
    width:94vw;
    margin-left:3vw;
}
thead{
    height:40px !important;
}
table{
    margin-bottom: 0px !important;
    font-size: 20px;
}
.table td, .table th {
    padding: .15rem;
    vertical-align: middle;
    text-align: center;
    /* border-top: 1px solid #dee2e6; */
}
.colN-1{
    width:40px !important;
    height:40px !important;
}
.btnTable{
    position :absolute;
    top:0;
    left:0;
    width:100%;
}


.btn-group{
    height:40px !important;
}

.dropdown-menu{
    max-height: 90vh;
    overflow-y: scroll
}

.colN-2{
    width:25vw!important;
}
.colN-4{
    width:40px!important;
}
.colN-3{
    width:100px!important;
}




.form-inline{
    width:calc(100vw - 330px);
    margin-left:0px;
    position:absolute;
    left:300px;

}
.form-inline button{
   margin-left: 5vw;
   height: 32px;
   width:auto;
   
}



  .form-group{
      margin-bottom: 0px;
  }
  .custom-select  {
    font-size: 20px;
    height:35px !important;
    padding: .05rem 1.75rem .1rem .75rem !important;
  }

  canvas{
      width:90vw !important;
      height: 50vh !important ;
      border:1px solid black;
      box-shadow:12px 12px 2px 1px rgba(125, 125, 125, .2);
  }

  @media (max-width: 850px){

      .form-inline{
        width:400px;
        margin-left:0px;
        position:absolute;
        left:230px;
    
    }
 }