#demo{
    width: 30vw;
    height: 40px;
    text-align:center;
    background:  #007bff;
    color:white;
    margin-left: 35vw;
    margin-top: 40vh;
    border-radius: 50px;
}
#getbarcode{
    width: 30vw;
    height: 40px;
    text-align:center;
    background:  #dc3545;
    color:white;
    margin-left: 35vw;
    margin-top: 10vh;
    border-radius: 50px;
}